<!--Support-->
<section class="support-block bg-primary-50 px-4 py-20 flex justify-center relative overflow-hidden">
    
    <div class="container max-w-7xl flex flex-col lg:flex-row items-center gap-8 relative">
        <div class="flare bg-primary-200/50 w-96 h-96 blur-3xl absolute top-20 left-0 z-0 pointer-events-none"></div>
        <span class="dot-purple bg-purple-400 rounded-full w-4 aspect-square absolute -left-10 top-40 rotate-12"></span>
        <span class="dot-purple bg-green-400 rounded-full w-2 aspect-square absolute right-10 bottom-0 rotate-12"></span>
        <span class="dot-purple bg-pink-400 rounded-full w-2 aspect-square absolute -top-10 left-10 rotate-12"></span>
        <div class="subscribe-block--content flex flex-col gap-4 lg:w-1/2 relative">
            <h2 class="font-outfit font-semibold text-2xl">We’d love to help you get the most out of Spoonme. Please reach out if you have any questions:</h2>
            <a href="mailto:support@spoonme.kitchen" class="text-xl text-primary-500 font-bold underline hover:text-primary-400">support@spoonme.kitchen</a>
        </div>
    </div>
</section>

