<footer class="
    bg-primary-50 
    flex flex-col
    w-full px-4 py-8 gap-8
    items-center
    ">
    <div class="container w-full max-w-7xl flex flex-col">
        <nav class="flex flex-col md:flex-row justify-between items-center gap-4">
            <a href="/" class="brand-logo flex-shrink-0"><img src="{{ '/assets/images/logo-icon.svg' | relative_url}}" alt="Spoonme kitchen"></a>
            <ul class="
                flex flex-col
                items-center md:items-start
                md:flex-row
                gap-2
                md:mr-auto
            ">
                <li><a href="/#features" class="px-4 py-2 inline-flex">Features</a></li>
                <li><a href="/blog" class="px-4 py-2 inline-flex">Blog</a></li>
            </ul>
            <a href="https://app.spoonme.kitchen/users/register" class="py-3 px-10 rounded-full border-2 border-primary-900 font-outfit font-semibold text-primary-900 hover:bg-primary-500/20 transition-all ease-in">Free trial</a>
        </nav>
    </div>
    
    <div class="copyright w-full max-w-7xl flex flex-col text-center md:text-left py-4">
        <span class="text-primary-800">Copyright © SpoonMe. All rights reserved.</span>
    </div>
</footer>
