---
---

/* latin-ext */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v11/QGYvz_MVcBeNP4NJuktqUYLkn8BJ.woff2) format('woff2');
    unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/outfit/v11/QGYvz_MVcBeNP4NJtEtqUYLknw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
 

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    .post-article {
        .toc {
            ul {
                @apply list-image-[url(/assets/images/icons/arrow-right.svg)] items-center;

                li {
                    @apply text-xl font-normal leading-relaxed;
                 a {
                    @apply text-primary-950 hover:underline hover:text-primary-950/80;

                    }   
                }
            }
        }
        h1 {
          @apply text-5xl;
        }
        h2 {
          @apply text-4xl;
        }
    
        h3 {
            @apply text-3xl;
          }

        h1, h2, h3, h4, h5 {
            strong {
                @apply font-medium;
            }
        }
    
        p {
            @apply text-lg font-normal leading-relaxed;
        }

        a {
            @apply text-primary-500 hover:text-primary-600;
        }

        ul {
            @apply list-disc list-inside marker:text-primary-400 mb-4;
            
            li {
                @apply leading-relaxed;
            }
        }

        img {
            @apply rounded-40px;
        }
    
        blockquote {
            @apply p-4 pl-7 border-l-2 border-primary-500;
        }

        table {
            @apply shadow rounded-3xl overflow-hidden shadow-primary-50 table-auto;
            th {
                @apply bg-primary-50 py-8 px-4 text-left font-normal;
            }
            td {
                @apply  px-4 py-8;

            }

            tbody {
                tr {
                    @apply border-b border-x border-primary-50;
                }
            }
        }
        /* ... */
    }
  }

/* Slick CSS */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}