<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}" class="bg-white scroll-smooth">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/appicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/appicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/appicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/appicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/appicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/appicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/appicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/appicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/appicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/images/appicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/appicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/images/appicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/appicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/appicon/manifest.json">
    <meta name="msapplication-TileColor" content="#7973e1">
    <meta name="msapplication-TileImage" content="/assets/images/appicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#7973e1">
    
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" media="all">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  </head>
  
  <body class="body font-outfit text-primary-950 overflow-x-hidden">
    {% include nav.html %}
    
    {{ content }}
    {% include block-support.html %}
    {% include footer.html %}
  </body>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js" integrity="sha512-jEnuDt6jfecCjthQAJ+ed0MTVA++5ZKmlUcmDGBv2vUI/REn6FuIdixLNnQT+vKusE2hhTk2is3cFvv5wA+Sgg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    $('.testimonials-carousel').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      arrows: false,
      dots: false,
      draggable: true,
      centerMode: true,
      variableWidth: true,
      autoplaySpeed: 1500,

      responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2
        }
      },
      {
      breakpoint: 480,
        settings: {
          slidesToShow: 1
        }
      }
      ]
    });

    $('.blogposts-carousel').slick({
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 1,
      autoplay: true,
      arrows: false,
      dots: false,
      draggable: true,
      centerMode: true,
      variableWidth: true,
      autoplaySpeed: 1500,

      responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2
        }
      },
      {
        breakpoint: 768,
        settings: {
          slidesToShow: 2
        }
      },
      {
      breakpoint: 480,
        settings: {
          slidesToShow: 1
        }
      }
      ]
    });

    // Lottie parameters
    function arrowLine() {
      var params = {
        container: document.getElementById('arrowLine'),
        renderer: 'svg',
        path: '{{ "/assets/lottie-json/arrowLine.json" | relative_url }}',
        loop: true,
        autoplay: true
      };
      var anim;
      anim = lottie.loadAnimation(params);
    }

    function megaphone() {
      var params = {
        container: document.getElementById('megaphone'),
        renderer: 'svg',
        path: '{{ "/assets/lottie-json/megaphone.json" | relative_url }}',
        loop: true,
        autoplay: true
      };
      var anim;
      anim = lottie.loadAnimation(params);
    }

    function giftBtn() {
      var params = {
        container: document.getElementById('giftBtn'),
        renderer: 'svg',
        path: '{{ "/assets/lottie-json/giftBtn.json" | relative_url }}',
        loop: true,
        autoplay: true
      };
      var anim;
      anim = lottie.loadAnimation(params);
    }

    function summaryApp() {
      var params = {
        container: document.getElementById('summaryApp'),
        renderer: 'svg',
        path: '{{ "/assets/lottie-json/summaryApp.json" | relative_url }}',
        loop: true,
        autoplay: true
      };
      var anim;
      anim = lottie.loadAnimation(params);
    }
    
    arrowLine();
    giftBtn();
    summaryApp();
    megaphone();

    window.addEventListener("scroll", function(event){
      var scroll = this.scrollY;
      if(scroll > 400) {
         this.document.getElementById("navBar").classList.add("bg-primary-300/90");
      } else {
         this.document.getElementById("navBar").classList.remove("bg-primary-300/90");
      }
      });

    //Search
    $(document).ready(function() {
      // Get query parameter from URL
      const urlParams = new URLSearchParams(window.location.search);
      const query = urlParams.get('query').toLowerCase();
    
      // Fetch JSON data
      $.getJSON('/search.json', function(data) {
        const filteredPosts = data.filter(post => {
          return (
            post.title.toLowerCase().includes(query) || 
            post.content.toLowerCase().includes(query) ||
            post.author.name.toLowerCase().includes(query) // Check author's name
          );
          
        });
    
        displayResults(filteredPosts);
      });
    
      function displayResults(posts) {
        const $postList = $('#search-results');
        $postList.empty();
    
        if (posts.length === 0) {
          $postList.append('<li>No posts found.</li>');
          return;
        }
    
        posts.forEach(post => {
          const postItem = createPostItem(post);
          $postList.append(postItem);
        });
      }
    
      function createPostItem(post) {
        const postItem = `
          <a href="${post.url}" class="post-item bg-primary-50 rounded-40px overflow-hidden hover:bg-primary-100" data-title="${post.title.toLowerCase()}" data-content="${stripHtml(post.content).toLowerCase()}">
            <article class="p-6 flex flex-col gap-4">
              <header class="post-header flex flex-row gap-4 items-center">
                <div class="post-author flex flex-row gap-2 items-center">
                  <img src="${post.author.avatar}" alt="${post.author.name}" class="post-author-avatar rounded-full" />
                  <div class="post-author-name">${post.author.name}</div>
                </div>
                <time datetime="${new Date(post.date).toISOString()}" class="post-date">${new Date(post.date).toLocaleDateString()}</time>
              </header>
              <div class="post-content flex flex-row gap-4 items-center">
                <div class="post-text flex flex-col gap-2 w-full">
                  <h2 class="text-xl font-medium line-clamp-1">${post.title}</h2>
                  <p class="line-clamp-3">${post.summary || truncate(stripHtml(post.excerpt), 50)}</p>
                </div>
                <img class="post-media rounded-3xl overflow-hidden w-40 aspect-square object-cover" src="${post.thumbnail}" alt="${post.title}" />
              </div>
              <div class="post-meta flex flex-row gap-4">
                <span class="reading-time">${post.readingTime || 'N/A'}</span> <!-- Display reading time or 'N/A' -->
              </div>
            </article>
          </a>
        `;
        return postItem;
      }

      function stripHtml(html) {
        const tmp = document.createElement('div');
        tmp.innerHTML = html;
        return tmp.textContent || tmp.innerText || '';
      }
    
      function truncate(text, limit) {
        const words = text.split(' ');
        if (words.length > limit) {
          return words.slice(0, limit).join(' ') + '...';
        }
        return text;
      }

    });    


  </script>
</html>
